.grid { 
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

label[for=tiles] {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label[for=tiles] {
    margin: .4rem 0;
}