.content {
    display: flex;
}

.grid {
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    padding: 15px;
    background-color: #2196F3;
    width: 65%;
    flex: 0 10% 65%;
    margin-left: 5px;
}

.grid > .card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6% 10%;
    width: 51px;
    height: 78px;
    width: 40%;
    height: 90%;
}

#info {
    display: block;
    flex: 1;
    margin-left: 15px;
    margin-right: 8px;
}

#logotype {
    max-width: 220px;
}
